.callmeback_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 1201px;
  height: 401px;
  margin-top: 146px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 63px;
}

.callmeback_ship {
  display: flex;
  height: 401px;
  border-radius: 10px;
  width: 474px;
}

.callmeback_text_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 64px;
  left: 81px;
}

.callmeback_primary_text {
  width: 626px;
  height: 86px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #181414;
}

.callmeback_secondary_text {
  width: 432px;
  height: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #181414;
}

.callmeback_inputs_and_button_container {
  position: absolute;
  top: 289px;
  left: 81px;
  display: flex;
  width: 900px;
  justify-content: space-around;
}

.callmeback_input_user_name_and_tel {
  width: 231.36px;
height: 53px;
left: 441px;
top: 1668px;
background: #F9F9F9;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

display: flex;
align-items: center;

color: #929292;
padding-left: 21px;
}

.callmeback_button {
  cursor: pointer;
  width: 231.36px;
height: 53px;
left: 948.64px;
top: 1668px;
background: #C60101;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
border: none;

color: #F9F9F9;
}

.callmeback_button:hover {
  background: #a70000;
}

.callmeback_button:active {
  background: #740000;
}