.certificates_container {
  padding-top: 43px;
  width: 100%;
}

.cert_desk {
  width: 459px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;

display: flex;
align-items: center;

color: #181414;
}

.certificates {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 49px;
}

.cert_img {
  width: 30%;
height: 444px;
}