.about_container {
  padding-top: 43px;
  width: 100%;
}

.img_and_description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header_and_desk {
  width: 50%;
}

.img_for_desk {
  width: 427px;
}

.about_p {
  /* width: 657px; */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;

color: #181414;

}