.main_body_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width:1024px) {
    width:1024px;
  }
}

/* .main_image {
  margin-top: 30px;
  width: 70%;
  left: 360px;
  top: 113px;
  border-radius: 20px;
} */

.text_for_main_image {
  /* position: absolute; */
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url('../../../images/main_image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  
}
/* @media screen and(max-width:1024px) {
  
} */

.primary_text {
  width:45%;
  height: 30%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.secondary_text {
  width: 30%;
height: 44px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 80%;
line-height: 120%;
/* or 22px */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
margin-top: 15px;
}

.body_image_callback_btn {
  width: 15%;
height: 10%;
cursor: pointer;
background: #FFFFFF;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 70%;
line-height: 120%;
border: none;
margin-top: 2vh;
}

.body_image_callback_btn:hover {
  background: #e6e6e6;
}

.body_image_callback_btn:active {
  background: #a5a5a5;
}

h2 {
  margin-top: 60px;
  width: 100%;
height: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 43px */

display: flex;
align-items: center;

color: #181414;
@media screen and (max-width:1024px) {
  font-size: 18px;
}
}

.our_products_container {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 25px;
  row-gap: 20px;
  margin-bottom: 86px;
  flex-wrap: wrap;
}

.product_card {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* width: 23%; */
  min-width: 220px;
  max-width: 230px;
  flex: 1;
  height: 370px;
  display: flex;
  flex-direction: column;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border: 1px solid #d3d3d3;
  @media screen and (max-width:1024px) {
    height: 200px;
  }
}

.product_image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.product_name {
  margin-top: 5%;
  width: 85%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #181414;
}

.product_description {
  margin-top: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #181414;
  padding-left: 6%;
  padding-right: 6%;
  /* padding-left: 21px;
  padding-right: 20px; */
}

.product_show_more_btn {
  cursor: pointer;
  margin-top: 10px;
  width: 80%;
  height: 15%;
  background: #C60101;
  border: none;
  border-radius: 10px;
  /* font-family: 'Poppins';
  font-style: normal; */
  font-weight: 600;
  font-size: 13px;
  color: #F9F9F9;
  margin-bottom: 10%;
}

.product_show_more_btn:hover {
  background: #a70000;
}

.product_show_more_btn:active {
  background: #740000;
}

.product_show_more_btn {
  padding-left: 21px;
  padding-right: 20px;
}

.why_we_are_container {
height: 410px;
left: 360px;
top: 1840px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin-top: 60px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 1024px;
}

.wwa_primary_text {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
width: 90%;
color: #181414;
/* margin-left: 43px;
margin-top: 25px; */
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 70%;
  margin-top: 38px;
  justify-content: center;
}

.reason {
  display: flex;
  padding: 10px;
  width: 30%;
  height: 40%;
}

.reason_img {
  display: flex;
  width: 40%;
  height: 50%;

/* ваы */

background: linear-gradient(90deg, #C90000 0%, #620000 100.03%);
border-radius: 500px;
}

.reason_text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.reason_primary_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  /* or 19px */
  width: 198px;
  display: flex;
  align-items: center;
  
  color: #181414;
}

.reason_secondary_text {
  margin-top: 5px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  /* or 16px */
  
  
  color: #181414;
}

.about_and_delivery_container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1024px;
}

.img_and_primary_text {
  width: 90%;
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}

.about_us_and_delivery_primary_text {
  margin-left: 22px;
  width: 50%;
  height: 63px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  /* or 43px */
  
  display: flex;
  align-items: center;
  
  color: #181414;
}

.about_us,.delivery {
  width: 47%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_us {
height: 538px;
}

.delivery {
height: 583px;
}

p {
  font-size: 13px;
  width: 100%;
}

.about_us_img,.delivery_img {
  width:20%;
height: 100%;

/* ваы */

background: linear-gradient(90deg, #C90000 0%, #620000 100.03%);

}

.about_us_and_delivery_text {
  margin-top: 30px;
  width: 85%;
height: 320px;
left: 1035px;
top: 2443px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 120%;
/* or 16px */

display: flex;
flex-direction: column;

color: #181414;
}

/* .hr1,.hr2 {
  
} */

.hr1 {
  width: 80%;
  height: 5px;
  background: linear-gradient(90deg, #C90000 0%, #620000 100.03%);
  border-radius: 10px;
}

.hr2 {
  margin-top: 40px;
  width: 80%;
height: 5px;
background: linear-gradient(90deg, #C90000 0%, #620000 100.03%);
border-radius: 10px;
}


@media screen and (max-width:1024px) {
  .why_we_are_container {
    width: 100%;
  }
  .primary_text {
    font-size: 20px;
    height: 100px;
  }
  .secondary_text {
    font-size: 60%;
  }
  .body_image_callback_btn {
    font-size: 50%;
    height: 5vh;
  }
  .about_and_delivery_container {
    width: 100%;
  }
  /* .text_for_main_image {
    height:100px;
  } */
}

@media screen and (max-width:720px) {
  .why_we_are_container {
    height: 800px;
    border-radius: 0;
    padding-top: 20px;
    justify-content: start;
  }
  .reasons {
    display: flex;
    justify-content: start;
    height: 400px;
  }
  .reason {
    width: 100%;
    height: 100px;
  }
  .reason_img {
    height: 70px;
    width: 70px;
  }
  .reason_text {
    margin-left: 10px;
  }
  .text_for_main_image {
    height: 400px;
    background-size: 240%;
    border-radius: 10px;
    background-position: 20%;
  }
  .primary_text {
    font-size: 25px;
    height: 50px;
    width: 280px;
  }
  .secondary_text {
    font-size: 15px;
    width: 100%;
  }
  .body_image_callback_btn {
    font-size: 10px;
    height: 40px;
    width: 150px;
  }
  h2 {
    font-size: 20px;
  }
  .product_name {
    font-size: 20px;
  }
  .img_and_primary_text {
    margin-top: 10px;
    margin-left: 10px;
  }
  .delivery_img {
    width: 40px;
    height: 40px;
  }
  .about_us_and_delivery_primary_text {
    font-size: 20px;
    height: 40px;
    margin-left: 10px;
    width: 130px;
  }
  .about_us_and_delivery_text {
  }
  p {
    margin: 0;
    font-size: 10px;
  }
  .delivery {
    min-height: 650px;
  }
  .hr2 {
    position: absolute;
  }
}
@media screen and (max-width:468px) {
  .product_card {
    min-width: 100%;
    width: 100%;
    height: 480px;
  }
}
/* 
@media screen and (max-width:700px) {
  .our_products_container {
    width: 700px;
  }
}

@media screen and (max-width:450px) {
  .our_products_container {
    width: 450px;
  }
  
  .product_card {
    height: 490px;
  }
} */