.header_container {
  width: 1200px;
  height: 83px;
  padding-left: 360px;
  padding-right: 360px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  background-color: rgb(255, 255, 255);
}

.header_logo,.logo {
  width: 152px;
  height: 63px;
}

.header_page_nav {
  margin-left: 201px;
}

.header_nav_btn {
  cursor: pointer;
  border: none;
  background-color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  width: 82px;
  height: 17px;
  color: #181414;
}

.header_nav_btn:hover {
  color: #ff5d5d;
}

.header_nav_btn:active {
  color: #181414;
}

.header_callback {
  cursor: pointer;
  width: 141px;
  height: 43px;
  background: #C60101;
  border-radius: 10px;
  border:none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  margin-left: 212px;
  color: #FFFFFF;
}

.header_callback:hover {
  background: #a70000;
}

.header_callback:active {
  background: #770000;
}