.header_container {
  width: 100%;
  height: 60px;
 /* padding-left: 360px;
  padding-right: 360px;  */
  /* padding-left: 20%;
  padding-right: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  background-color: rgb(255, 255, 255);
  @media screen and (max-width:1024px) {
    height:40px;
  }
}

.header_logo {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}

.header_page_nav {
  /* margin-left: 201px; */
  /* background-color: rebeccapurple; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.header_nav_btn {
  cursor: pointer;
  border: none;
  background-color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 1000;
  font-size: 60%;
  /* width: 6%; */
  /* height: 17px; */
  color: #181414;
}

.header_nav_btn:hover {
  color: #ff5d5d;
}

.header_nav_btn:active {
  color: #181414;
}

.header_callback {
  cursor: pointer;
  width: 10%;
  height: 50%;
  background: #C60101;
  border-radius: 10px;
  border:none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 60%;
  line-height: 120%;
  /* margin-left: 212px; */
  color: #FFFFFF;
}

.header_callback:hover {
  background: #a70000;
}

.header_callback:active {
  background: #770000;
}